Simulation/modelComparisonX.asv
Simulation/plant.slx.autosave
Simulation/slprj/_sfprj/plant/amsi_serial.mat
Simulation/slprj/_sfprj/precompile/57otfFCwNI8hATk2IvpdwB.mat

*c_cpp_properties.json
*code-workspace
*octave-workspace